/* .App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
    font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li{
  padding: 10px;
  font-family: "helvetica";
  font-weight: 300;
  font-size: larger;
  
}

.deets{
list-style: none;
}

.deets li::before{
  content: "\2022";
  color: #61DAFB;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
} */

.all {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 1rem; */
  background: rgb(64, 65, 70);
  /* height: 100vh; */
}

.form {
  margin: 1rem 0;
  align-self: center;
}
.form > select {
  font-weight: 600;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.form > button {
  font-weight: 600;
  padding: 0.5rem;
  color: #fbfcfd;
  text-transform: uppercase;
  border: none;
  background-color: rgb(12, 7, 1);
}
